body {
  margin:0px;
  font-family:"Open Sans",sans-serif;
}
#context-menu {	
  position:fixed;
  z-index:10000;
  width:150px;
  top: 4px;
  left: 99%;
  background:#1b1a1a;
  transform:scale(0);
  transform-origin:top left;
  list-style-type: none;
}
#context-menu.active {
  transform:scale(1);
  transition:transform 300ms ease-in-out;
}
.menu-item {
  padding:8px 10px;
  font-size:15px;
  color:#eee;
}
.menu-item:hover {
  background:#555;
}
.menu-item i {
  display:inline-block;
  margin-right:5px;
}
#context-menu hr {
  margin:2px 0px;
  border-color:#555;
}

.sub-menu-parent::after {
  /* This is the Submenu Arrow */
  content: "";
  position: absolute;
  right: 5px;
  border: 5px solid transparent;
  border-left-color: #808080;
}

#context-menu .sub-menu-parent:hover::after { border-left-color: #fff; }

.sub-menu-item{
  position:absolute;
  z-index:10000;
  width:150px;
  left: 100%;
  background:#1b1a1a;
  transform:scale(0);
  list-style-type: none;
}

.menu-item:hover > .sub-menu-item {
  opacity: 1;
  -webkit-transform: translate(0, 0) scale(1);
  transform: translate(0 ,-23px) scale(1);
  pointer-events: auto;
}

.illegal {  
  color:red;
}
.illegal:hover {
  --background:rgb(255, 0, 0);
}



